<h1>Login page</h1>
<form method="POST" action="/login">
  <p><input type="text" name="user[email]">email</p>
  <p><input type="text" name="user[password]">Password</p>
  <p><input type="submit" value="submit"></p>
</form>
</br>
<p><a href = "/movies">View Movie Index Without Logging In</a></p>
