<h1>Signup page</h1>
<form method="POST" action="/signup">
  <p><input type="text" name="user[name]">Name</p>
  <p><input type="text" name="user[email]">Email</p>
  <p><input type="text" name="user[password]">Password</p>
  <p><input type="submit" value="submit"></p>
</form>
