<h1 style="text-align: center"> Movie Index </h1><ul>

  <% unless locals.empty? %>
  <%= message %>
  <% end %>



<% if @movies != nil && @movies.count > 0 %>
  <% @movies.each do |m| %>
    <p><a href = "/movies/<%= m.id %>"><%= m.title %></p>
  <% end %>
<% else %>
  <p>There are no movies yet</p>
<% end %>

<p><a href = "/movies/new">Create a new movie</a></p>
