<h1><%= @movie.title %></h1>
<p><%= @movie.director.name if @movie.director != nil %><p>
  <p style="display:inline;"><form action="/movies/<%= @movie.id %>/edit">
          <input type="submit" value="Edit">
      </form>

          <p style="display:inline;"><form method="post" action="/movies/<%=@movie.id%>/delete">
              <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete Movie"></p>
  <p><a href = "/movies">Return to Movie Index</a></p>
